@page "/event"
@rendermode InteractiveServer

<h3>Event</h3>

<div>
    <button class="btn btn-secondary" onclick="javascript:alert('Clicou no botão JS')">Clique-me (JS)</button>
    <button class="btn btn-primary" @onclick="ClickButton">Clique-me (Blazor)</button>
</div>

@TextoOne

<br />

<div>
    <button class="btn btn-success" @onclick="@((e) => TextoTwo = $"Posição do clique: x={e.ScreenX}")">Clique-me (Blazor-inline)</button>
</div>

@TextoTwo


@code {
    private string TextoOne { get; set; } = string.Empty;
    private string TextoTwo { get; set; } = string.Empty;

    public void ClickButton(MouseEventArgs e)
    {
        TextoOne = $"Posição do clique: x={e.ScreenX} y={e.ScreenY}";
    }
}
